## Weekly Assignment 8

#### Based on Denver policing data from November, how many vehicular and pedestrian police stops were made in each district?

In [104]:
# import libraries
import pandas as pd
import numpy as np
import json
import pprint as pprint

In [105]:
# read the file in
denverdata = pd.read_csv("denver-1.nov.csv")
denverdata.head()

,raw_row_number,date,time,location,lat,lng,district,precinct,type,disposition,arrest_made,citation_issued,warning_issued,outcome
0,1,2012-11-13,00:02:22,8500 W CRESTLINE AVE,39.618329,-105.092691,4,423,vehicular,K - Street Check Completed,False,False,False,NaN
1,16,2012-11-29,00:25:01,8500 W CRESTLINE AVE,39.618329,-105.092691,4,423,vehicular,Party Advised,False,False,False,NaN
2,72,2012-11-23,22:58:10,4830 S HOLLAND WAY,39.630666,-105.102551,4,423,vehicular,K - Street Check Completed,False,False,False,NaN
3,121,2012-11-27,17:48:33,4885 S QUEBEC ST,39.626174,-104.904062,3,324,pedestrian,In Service,False,False,False,NaN
4,138,2012-11-14,23:46:58,W LAYTON AVE / S WADSWORTH BLVD,39.630150,-105.081693,4,423,vehicular,Party Advised,False,False,False,NaN

In [106]:
denverdata['type'].value_counts()

vehicular     4241
pedestrian    2124
Name: type, dtype: int64

In [117]:
# filter the dataframe for districts and type columns
type_df = denverdata[['type','district']]
type_df.head() # only show first 5 rows

         type district
0   vehicular        4
1   vehicular        4
2   vehicular        4
3  pedestrian        3
4   vehicular        4

In [108]:
# create a pivot table for counting the types of stops based on the district district 
type_pivot = pd.pivot_table(type_df,
                      index = ['district'],
                      columns = ['type'],
                      values = ['type'],
                      aggfunc = {'type':len}, # aggfunc to len to count the number of rows
                      fill_value = 0)

type_pivot

               type
type     pedestrian vehicular
district
1               297       861
2               429       909
3               211       757
4               343       815
5               167       404
6               631       373
7                 1         1
None             45       121

In [109]:
# convert the pivot table to a .json file format and inspect it
json = type_pivot.to_json()
print(json)

{"["type","pedestrian"]":{"1":297,"2":429,"3":211,"4":343,"5":167,"6":631,"7":1,"None":45},"["type","vehicular"]":{"1":861,"2":909,"3":757,"4":815,"5":404,"6":373,"7":1,"None":121}}

In [116]:
# write it to a .json file on my computer
type_pivot.to_json('denverjsonfile.json', orient='columns')